* {
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    color: whitesmoke;
    height: 150px;
    text-align: center;
    padding-top: 75px;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
}

/* #logo {
    float: left;
} */

ul {
    text-align: end;
    list-style: none;
}

li {
    display: inline;
}


table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.book-column {
    float: left;
    margin-left: 250px;
    width: 12%;
    padding: 5px;
}

.book-row::after {
    content: "";
    clear: both;
    display: table;
}

.paragraph>img {
    float: left;
    margin: 15px;
}

#info-table {
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

.bottom-nav {
    text-align: center;
}

button {
    background-color: lightcoral;
    color: black;
    border: none;
    font-size: large;
}

.paragraph {
    font-size: large;
    font-weight: 400;
}

a {
    text-decoration: underline;
    font-weight: bold;
}

a:visited {
    color: rgb(133, 130, 130);
}

a:hover {
    cursor: crosshair;
}

#interviews {
    text-align: center;
}

div fieldset {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#about {
    float: left;
}

.trivia {
    text-align: center;
    float: right;
    width: 20em;
    shape-outside: content-box;
    border: 1px solid white;
    margin: 10px;
}