.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1200px;
    height: 450px;
    border: 8px solid black;
}

.div1, .div4 {
    display: block;
    background-color: rgb(255, 81, 0);
    color: white;
    font-weight: bold;
}

.div2, .div3 {
    display: block;
    background-color: red;
    color: white;
    font-weight: bold;
}

p {
    text-align: center;
    margin-top: 100px;
    height: 0px;
    text-align: center;
    width: 100px;
}

#loading1 {
    position: relative;
    left: 250px;
}

#bar1, #bar2 {
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: white;
    left: 270px;
    animation: loading1 2s infinite;
}

#bar1 {
    margin-top: 97px;
}

#bar2 {
    margin-bottom: 0px;
}

@keyframes loading1 {
    0% {width: 0;}
    100% {width: 100px;}
}

#loading2 {
    position: relative;
    left: 250px;
}

#loadingbar {
    background-color: rgb(255, 255, 255);
    animation: loading2 2s infinite forwards ease-out;
    margin-left: 250px;
}

@keyframes loading2 {
    0% {
        width: 0px;
        background-color: white;
    }
    100% {
        width: 100px;
        background-color: white;
    }
    
}

.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50px;
    margin: 0;
    position: relative;
    left: 250px;
    top: 100px;
}

#circle1, #circle3 {
    background-color: rgba(255, 255, 255, 0.712);
}

#circle1 {
    animation: revolve1 2s infinite;
    transform-origin: center;
}

#circle3 {
    animation: revolve2 2s infinite;
}

@keyframes revolve1 {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes revolve2 {

}

#square {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: whitesmoke;
    left: 250px;
    top: 100px;
}

#ball {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: white;
    animation: ballmove 3s infinite;
    position: relative;
    top: 45%;
    left: 40%;
}

@keyframes ballmove {
    0% {
        top: 45%;
        left: 40%;
    }
    25% {
        top: 22%;
        left: 40%;
    }
    50% {
        top: 22%;
        left: 48%;
    }
    75% {
        top: 45%;
        left: 48%;
    }
}