@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100vh;
}

.logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

#kras-logo {
    width: 100px;
    height: 80px;
}

.dropdown {
    display: block;
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 100px;
}

.dropbtn {
    background-color: rgb(228, 11, 11);
    color: white;
    width: 100px;
    height: 80px;
    border-radius: 0;
    border: 0;
}

.header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

.sidebar-nav {
    width: 25%;
    background-color: white;
    box-shadow: 5px 0px 20px 0px rgba(177, 177, 177, 0.75);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    overflow: hidden;
}

.sidebar-nav a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 25px;
    padding-bottom: 5px;
}

.sidebar-nav a:hover {
    color: red;
}

.nav-list {
    list-style: none;
    margin-top: 160%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

.chocolate-bars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 0px;
    position: fixed;
    left: 25%;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}

.choco-img {
    margin-left: 100px;
}

.main-content .dorina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(214, 39, 39);
}

.main-content .coksa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blue;
}

.main-content .animal-kingdom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(100, 163, 100);
}  

.main-content .kras-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(61, 59, 59);
}

.main-content .kras-polleo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(30, 116, 145);
}

.main-content .kolumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(223, 175, 73);
}

h2 {
    display: flex;
    margin-left: 75%;
    font-size: 500%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dorina, .coksa, .animal-kingdom, .kras-selection, .kras-polleo, .kolumbo {
    width: 500px;
    height: 500px;
    background-color: gray;
}

.chocolate-bars img {
    transition: transform .2s;
}

.chocolate-bars img:hover {
    transform: scale(1.1);
}

.choco-btn {
    display: inline-block;
    margin-left: -220px;
    margin-right: auto;
    margin-top: 350px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-family: 'Poppins';
    text-align: center;
    
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}